/* fonts */
@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec Bold';
    src: url('../fonts/SailecBold.woff2 Bold.woff2') format('woff2'),
        url('../fonts/SailecBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* global styles */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 30px;
    color: #434A54;
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4 {
    font-weight: 400;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.bg {
    background-repeat: no-repeat;
    background-size: contain;
}
/* header */
.site__header {
    height: 72px;
    background-color: #fff;
}
.site__header .container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site__logo:active {
    opacity: 0.6;
    
}
.site__list {
    display: flex;
}
.site__item:not(:last-child) {
    margin-right: 22px;

}
.site__link {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: rgba(102, 102, 102, 0.85);
}
.site__link:hover {
    color: #1D6FF3;
}
.site__link:active {
    opacity: 0.6;
}

/* main */
.site__main {
    flex-grow: 1;
}

/* main>section one */
.hero {
    height: 600px;
}
.hero .container {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}
.hero__about {
    width: 550px;
}
.h__title {
    font-family: 'Sailec Bold';
    font-size: 48px;
    line-height: 58px;    
    letter-spacing: 0.25px;
    color: #4A4A4A;
    margin-bottom: 20px;
}
.h__text {
    font-size: 18px;
    line-height: 30px;
    color: #434A54;
}
.hero__bg {
    width: 600px;
    height: 600px;
    background-image: url(../images/png/bg.png);
}

/* main > section twoo */
.develop__design {
   
}
.develop__design .container {
    height: 600px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.d__bg {
    width: 590px;
    height: 590px;
    background-image: url(../images/png/bg2.png);
}
.d__about {
    width: 458px;
}
.d__title {
    font-family: 'Sailec Bold';
    font-size: 36px;
    line-height: 44px;
    color: #4A4A4A; 
    letter-spacing: 0.25px;
    margin-bottom: 15px;

}

.d__link {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #1D6FF3;
    margin-top: 25px;
}
.d__link:hover {
    color: red;
}
.d__link:active {
    opacity: 0.7;
}
/* section three */

.learn__part  .container {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.learn__about {
    width: 500px;
}
.learn__title {
    font-family: 'Sailec Bold';
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    margin-bottom: 20px;
}
.learn__text {
    font-size: 18px;
    color: #434A54;
    margin-bottom:24px ;
}

.learn__bg {
    width: 600px;
    height: 600px;
    background-image:url(../images/png/bg3.png) ;
}
/* section fo */

.blog .container {
    height: 1017px;

}

.from__name {
    font-family: 'Sailec Bold';
    font-size: 24px;
    line-height: 29px;
    color: #4A4A4A;
    letter-spacing: 0.25px;
    margin-bottom: 12px;
 }
.blog__part {
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 219px;
}
.blog__list {
    display: flex;
    
}
.blog__item {
    position: relative;
    
}
.blog__item img {
    width: 330px;
    height: 186px;
}
.blog__about {
    width: 280px;
    height: 214px;
    position: absolute;
    left: 25px;
    top: 136px;
    background-color: rgba(255, 255, 255, 0.95);
   
    
}
.blog__title {
    padding: 13px 23px ;
    font-family: 'Sailec Bold';
    font-size: 24px;
    line-height: 31px;
    color: #4A4A4A;
    letter-spacing: 0.25px;
}
.blog__text {
    padding: 13px 23px ;
    font-size: 15px;
    line-height: 26px;
    color: #434A54;
}

/* section five */
.sign {
    background-color:#EEEEEE;
}
.sign .container {
    height: 282px;
    display: flex;
    justify-content: space-between;
    gap: 322px;
}
.start__learning {
    width: 463px;
}
.s__title {
    font-family: 'Sailec Bold';
    font-size: 36px;
    line-height: 44px;
    color: #4A4A4A;
    letter-spacing: 0.25px;
    margin-bottom: 18px;
    margin-top: 80px;

}
.s__text {
    font-size: 18px;
    line-height: 30px;
    color: #434A54;
}
.learn__inputs form {
    margin-top: 80px;
    display: flex;
}
#email {
    width: 300px;
    height: 42px;
    padding-left: 10px;
}
.l__btn {
    width: 121px;
    height: 42px;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.25px;
    background-color: #1D6FF3;
    border: none;
    color: #fff;
    transition: all 0.3s;
}
.l__btn:hover {
    background-color: wheat;
    color: #1D6FF3;
    cursor: pointer;
}
.l__btn:active {
    opacity: 0.7;
}

/* footer */
.site__footer {
    margin-top: 50px;
}
.site__footer  .container {
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.academhy__title {
    margin-bottom: 19px;
}
.footer__list {
}
.footer_item:not(:last-child) {
    margin-top: 8px;
}
.footer__link {
    font-size: 14px;
    line-height: 24px;
    color: #637280;
    letter-spacing: 0.25px;
}
.footer__link:hover {
    color: blue;
}
.footer__link:active {
    opacity: 0.7;
}

.icon:not(:last-child) {
    margin-right: 9px;
    margin-top: 10px;
}
.icon:active {
    opacity: 0.7;
}